/* Menu Horizontal */
#nav, #divSair  {
    background-color: #02da55 !important;
    color: #c511bc !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after {
    background-color: #c511bc  !important;
}

.navbar-brand , #navbarDropdown, #divSair > a{
    color: #c511bc  !important;
}

.navbar-brand:hover, #navbarDropdown:hover{
    color: #FFF !important;
}
#divSair > a:hover{
    color: #FFF !important;
    background-color: #02da55;
}

/* menu Horizontal */

#sidebar-wrapper {
    background-color: #02da55 !important;
}

#sidebar-wrapper >ul>li.nav-item a.nav-link{
    color: #c511bc  !important;
}

#sidebar-wrapper >ul>li.nav-item:hover{
    background-color: #118d1b;
}

#sidebar-wrapper >ul>li>ul> li.nav-item a.nav-link {
    background-color: #02da55;
    color: #c511bc  !important;
}

#sidebar-wrapper >ul>li>ul> li.nav-item a.nav-link:hover{
    background-color: #118d1b;
}

/* Rodapé */
footer {
    background-color: #02da55 !important;
    color: #c511bc  !important;
}
footer > div.text-muted , #contatoLeme {
    color: #c511bc  !important;
}